node_modules/
.env
.next/
data/*.csv
out/
.env.local
.claude/settings.local.json
codex-session-*.md
.env.*
!.env.example
.local/

/client/public/calling/plivo.js
/client/public/calling/plivobrowsersdk.js.LICENSE.txt
